@media only screen and (max-width: 767px) {
	.circlefirst,
	.circlesec ,
	.firsbtnround-3,
	.third-circle,
    .firstborder-3
    { display:none; }
	 .menubgcolor{ height: 100%; background-color:#160925a6; color:#fff; }
	 .index_1 .menubgcolor {  background-color:#1609256e; }
   .control-sidebar.control-sidebar-open+.control-sidebar-bg { right: 0; width: 100%!important;   }
	 .control-sidebar.control-sidebar-open+.menubgcolor{ width: 100%; }
	 .control-sidebar.control-sidebar-open+.control-sidebar {width:100%;}
	 .control-sidebar.control-sidebar-open { width:100%; }
}
@media only screen and (max-width: 767px) {
	
	.circlethird {
    box-sizing: border-box;
    height: 200px;
    width: 200px;
    border: 0px solid #FFFFFF;
    border-radius: 50%;
    position: relative;
    top: 20.5%;
    margin: 0 auto;
    text-align: -webkit-center!important;
     left:0; 
	}
}

@media only screen and ( min-width:769px ){
	#full-size{
  height:100%;
  width:100%;
  overflow:hidden; /* or overflow:auto; if you want scrollbars */
}
.healing .btnstyle { margin-top:40px; }
}
@media (min-width:768px ) and (max-width:800px) {
	
	.circlefirst {	height: 470px;	width: 470px; position:relative; }
.circlesec {  
    height: 380px;
    width: 380px;   
    position: absolute;
    top: 16%;  
    left: 26.2%;
}
.circlethird {
    height: 290px;
    width: 290px;
    position: absolute;
    top: 24.5%;
    left: 31.6%;
}

.firsbtnround {  position: absolute; color: white;  top: 49.2%; right: -34%; }
.firstborder { width: 104px;  position: relative;   top: 51.5%; left: 114px; float: right;}

.firsbtnround-2 {  position: absolute; top: 9.4%; right: -39.5%; }
.firstborder-2 { width: 160px; top: 12.5%; right: -97px; float: right; }

.firsbtnround-3 { top: 48.4%; left: -83.5%; }
.firstborder-3 { width: 188px; position: absolute; top: 51.5%; left: -190px; float: right; }

.first-circle { width: 10px; height: 10px; position: relative; top: 50.8%; right: -105px; float: right; }
.second-circle { width: 10px; height: 10px; position: absolute; top: 11.5%; right: -99px; float: right; }
.third-circle {  width: 10px; height: 10px; position: absolute; top: 50.4%; left: -190px; float: right; }

}


@media (min-width:801px ) and (max-width:1024px) {
	.roundtext h3{ font-size: 22px; }
	.circlefirst {	height: 470px;	width: 470px; position:relative; }
.circlesec {  
    height: 380px;
    width: 380px;   
    position: absolute;
    top: 16%;  
    left: 31.2%;
}
.circlethird {
    height: 290px;
    width: 290px;
    position: absolute;
    top: 24.5%;
    left: 35.6%;
}

.firsbtnround {  position: absolute; color: white;  top: 49.2%; right: -39%; }
.firstborder { width: 121px;  position: relative;   top: 51.5%; left: 132px; float: right;}

.firsbtnround-2 {  position: absolute; top: 9.4%; right: -39.5%; }
.firstborder-2 { width: 160px; top: 12.5%; right: -97px; float: right; }

.firsbtnround-3 { top: 48.4%; left: -83.5%; }
.firstborder-3 { width: 188px; position: absolute; top: 51.5%; left: -190px; float: right; }

.first-circle { width: 10px; height: 10px; position: relative; top: 50.8%; right: -129px; float: right; }
.second-circle { width: 10px; height: 10px; position: absolute; top: 11.5%; right: -99px; float: right; }
.third-circle {  width: 10px; height: 10px; position: absolute; top: 50.4%; left: -190px; float: right; }

}

@media (min-width:1025px ) and (max-width:1280px) {
	
	.circlefirst {	height: 570px;	width: 570px; position:relative; }
.circlesec {    height: 480px;  width: 480px;   top: 13%;   left: 31.2%; }
.circlethird { height: 390px; width: 390px; top: 20.5%; left: 34.5%; }

.firsbtnround {  position: absolute; color: white;  top: 49.2%; right: -52%; }
.firstborder { width: 227px;  position: relative;   top: 51.5%; right: -238px; float: right;}

.firsbtnround-2 {  position: absolute; top: 9.4%; right: -49.5%; }
.firstborder-2 { width: 265px; top: 12.5%; right: -185px; float: right; }

.firsbtnround-3 { top: 48.4%; left: -83.5%; }
.firstborder-3 { width: 264px; position: absolute; top: 51.5%; left: -266px; float: right; }

.first-circle { width: 10px; height: 10px; position: relative; top: 50.8%; right: -237px; float: right; }
.second-circle { width: 10px; height: 10px; position: absolute; top: 11.5%; right: -186px; float: right; }
.third-circle {  width: 10px; height: 10px; position: absolute; top: 50.4%; left: -275px; float: right; }

}

@media (min-width:1367px ) and (max-width:1440px) {
	
	.circlefirst {	height: 570px;	width: 570px; position:relative; }
.circlesec {    height: 480px;  width: 480px;   top: 13%;   left: 33.2%; }
.circlethird { height: 390px; width: 390px; top: 20.5%; left: 36.2%; }

.firsbtnround {  position: absolute; color: white;  top: 49.2%; right: -52%; }
.firstborder { width: 227px;  position: relative;   top: 51.5%; right: -238px; float: right;}

.firsbtnround-2 {  position: absolute; top: 9.4%; right: -49.5%; }
.firstborder-2 { width: 265px; top: 12.5%; right: -185px; float: right; }

.firsbtnround-3 { top: 48.4%; left: -83.5%; }
.firstborder-3 { width: 264px; position: absolute; top: 51.5%; left: -266px; float: right; }

.first-circle { width: 10px; height: 10px; position: relative; top: 50.8%; right: -237px; float: right; }
.second-circle { width: 10px; height: 10px; position: absolute; top: 11.5%; right: -186px; float: right; }
.third-circle {  width: 10px; height: 10px; position: absolute; top: 50.4%; left: -275px; float: right; }

}

/*--second page--*/
@media only screen and (max-width:767px){ 

.text-2 .col-md-3.col-sm-12.col-xs-12.pull-right.textbg {
    position: relative;
    right: 0;
    top: 0;
	max-height: 400px;
    overflow: scroll;
	margin-bottom:10px;
}
.btnstyle { position:relative; }
.healing .btnstyle { display:none; }
.healing .carousel-indicators { display:none; }
.height-ful {
    min-height: 44vh;
}

}
@media only screen and (max-height:360px){
.btnstyle { position:relative; bottom: 41px;}
}	

@media only screen and (max-width:767px){ 
	.respon-1 {display:none; }
	
}
@media only screen and (min-width:768px){ 
	.respon-2 {display:none; }
	.healing .carousel-item .text { display:none; }
}


/*--page contact -us--*/

@media only screen and (max-width: 767px) {

  .contact-us-menu a.nav-link.ml-2 i {  color: #fff !important; }
  .contact-us-menu { background-color:#160925; height:100vh; border-bottom:2px solid #fff; }
  .mb-height { height:100%; }
  .padd-top-30 { padding-top:30px;  padding-bottom:40px;}
 /*-- .healing { background:url(../img/309592040.png)no-repeat center; background-size:cover; }--*/
  .healing .textbg h4 { text-align:center; font-weight:bold; }
  .healing aside.rightfix { text-align:center; padding-top:px; }
  .healing .col-md-3.col-sm-12.col-xs-12.pull-right.textbg { max-height:320px; overflow:scroll; top:18%;}
  .fullspace { padding-top: 100px; }
  .text-2 aside.rightfix { padding-top:50px; }
 .text-2 .textbg { padding-top:10px; }
 
}