@media only screen and (max-width: 900px) {
.circlefirst,
	.circlesec ,
	.firsbtnround-3,
	.third-circle,
    .firstborder-3
	
    { display:none; }
	.circlethird {  border:0px;}
	}
@media only screen and (min-width: 900px) {
	.respon-3 { display:none;  }
}

@media (min-height: 630px) and (max-width: 900px){
	
.index_1 .bottom-button { position:absolute; top:500px;}
}


@media only screen and (max-width: 767px) {
	.circlefirst,
	.circlesec ,
	.firsbtnround-3,
	.third-circle,
    .firstborder-3
    { display:none; }
	 .menubgcolor{ height: 100%; background-color:#16092587; color:#fff; }
	 .index_1 .menubgcolor {  background-color:#1609256e; }
   .control-sidebar.control-sidebar-open+.control-sidebar-bg { right: 0; width: 100%!important;   }
	 .control-sidebar.control-sidebar-open+.menubgcolor{ width: 100%; }
	 .control-sidebar.control-sidebar-open+.control-sidebar {width:100%;}
	 .control-sidebar.control-sidebar-open { width:100%; }
	 .roundtext {
    position: relative;
    top: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
    color: #fff;
    font-family: arimo;
}
}
@media only screen and (max-width: 360px) { 
.roundtext h3 {font-size: 15px; }
.fullspace {
    padding-top: 80px!important;
}
 }

@media only screen and (max-width: 767px) {
	.media_txthight {width:100%; height:10px;}
	.circlethird {
    box-sizing: border-box;
    height: 200px;
    width: 200px;
    border: 0px solid #FFFFFF;
    border-radius: 50%;
    position: relative;
    top: 20.5%;
    margin: 0 auto;
    text-align: -webkit-center!important;
     left:0; 
	}
}
@media (min-height:590px) and ( max-height: 601px) {
  .heal-scro-600 { max-height: 80vh; overflow-y: scroll; padding:0 6px;}
  
  .healing .btnstyle {  margin-top: 20px; }
}

@media (min-height:300px) and ( max-height: 601px) {
  .contact-us-menu .con-scro-600 { max-height: 80%; overflow-y: scroll; }
}


@media (min-width:400px) and ( max-width: 767px) {
	
	.circlethird {
    box-sizing: border-box;
    height: 250px;
    width: 250px;
    border: 0px solid #FFFFFF;
    border-radius: 50%;
    position: relative;
    top: 22.5%;
    margin: 0 auto;
    text-align: -webkit-center!important;
     left:0; 
	}
}

@media only screen and ( min-width:900px ){
	#full-size{
  height:100%;
  width:100%;
  overflow:hidden; /* or overflow:auto; if you want scrollbars */
}
.healing .btnstyle { margin-top:15px; }
}
@media (min-width:768px ) and (max-width:800px) {
	.roundtext h3{ font-size: 16px; }
	.circlefirst {	height: 470px;	width: 470px; position:relative; }
.circlesec {  
    height: 380px;
    width: 380px;   
    position: absolute;
    top: 16%;  
    left: 25.2%;
}
.circlethird {
    height: 290px;
    width: 290px;
    position: absolute;
    top: 50.5%;
    left: 31.6%;
}

.firsbtnround {  position: absolute; color: white;  top: 49.2%; right: -27%; }
.firstborder { width: 68px;  position: relative;   top: 51.5%; left: 78px; float: right;}

.firsbtnround-2 {  position: absolute; top: 9.4%; right: -39.5%; }
.firstborder-2 { width: 160px; top: 12.5%; right: -97px; float: right; }

.firsbtnround-3 { top: 48.4%; left: -76.5%; }
.firstborder-3 { width: 171px; position: absolute; top: 51.5%; left: -171px; float: right; }

.first-circle { width: 10px; height: 10px; position: relative; top: 50.8%; right: -71px; float: right; }
.second-circle { width: 10px; height: 10px; position: absolute; top: 11.5%; right: -99px; float: right; }
.third-circle {  width: 10px; height: 10px; position: absolute; top: 50.4%; left: -172px; float: right; }

}


@media (min-width:801px ) and (max-width:1024px) {
	.roundtext h3{ font-size: 16px; }
	.circlefirst {	height: 470px;	width: 470px; position:relative; }
.circlesec {  
    height: 380px;
    width: 380px;   
    position: absolute;
    top: 16%;  
    left: 31.2%;
}
.circlethird {
    height: 290px;
    width: 290px;
    position: absolute;
    top: 24.5%;
    left: 35.6%;
}

.firsbtnround {  position: absolute; color: white;  top: 49.2%; right: -39%; }
.firstborder { width: 121px;  position: relative;   top: 51.5%; left: 132px; float: right;}

.firsbtnround-2 {  position: absolute; top: 9.4%; right: -39.5%; }
.firstborder-2 { width: 160px; top: 12.5%; right: -97px; float: right; }

.firsbtnround-3 { top: 48.4%; left: -83.5%; }
.firstborder-3 { width: 188px; position: absolute; top: 51.5%; left: -190px; float: right; }

.first-circle { width: 10px; height: 10px; position: relative; top: 50.8%; right: -129px; float: right; }
.second-circle { width: 10px; height: 10px; position: absolute; top: 11.5%; right: -99px; float: right; }
.third-circle {  width: 10px; height: 10px; position: absolute; top: 50.4%; left: -190px; float: right; }

}

@media (min-width:1025px ) and (max-width:1280px) {
	
	.circlefirst {	height: 570px;	width: 570px; position:relative; }
.circlesec {    height: 480px;  width: 480px;   top: 13%;   left: 31.2%; }
.circlethird { height: 390px; width: 390px; top: 20.5%; left: 34.5%; }

.firsbtnround {  position: absolute; color: white;  top: 49.2%; right: -52%; }
.firstborder { width: 227px;  position: relative;   top: 51.5%; right: -238px; float: right;}

.firsbtnround-2 {  position: absolute; top: 9.4%; right: -49.5%; }
.firstborder-2 { width: 265px; top: 12.5%; right: -185px; float: right; }

.firsbtnround-3 { top: 48.4%; left: -83.5%; }
.firstborder-3 { width: 264px; position: absolute; top: 51.5%; left: -266px; float: right; }

.first-circle { width: 10px; height: 10px; position: relative; top: 50.8%; right: -237px; float: right; }
.second-circle { width: 10px; height: 10px; position: absolute; top: 11.5%; right: -186px; float: right; }
.third-circle {  width: 10px; height: 10px; position: absolute; top: 50.4%; left: -275px; float: right; }

}

@media (min-width:1367px ) and (max-width:1440px) {
	.roundtext { top: 80%; }
	.roundtext h3{ font-size: 16px; }
	.roundtext p { font-size:15px; }
	.circlefirst {	height: 570px;	width: 570px; position:relative; }
.circlesec {    height: 480px;  width: 480px;   top: 13%;   left: 33.2%; }
.circlethird { height: 390px; width: 390px; top: 20.5%; left: 36.2%; }

.firsbtnround {  position: absolute; color: white;  top: 49.2%; right: -52%; }
.firstborder { width: 227px;  position: relative;   top: 51.5%; right: -238px; float: right;}

.firsbtnround-2 {  position: absolute; top: 9.4%; right: -49.5%; }
.firstborder-2 { width: 265px; top: 12.5%; right: -185px; float: right; }

.firsbtnround-3 { top: 48.4%; left: -83.5%; }
.firstborder-3 { width: 264px; position: absolute; top: 51.5%; left: -266px; float: right; }

.first-circle { width: 10px; height: 10px; position: relative; top: 50.8%; right: -237px; float: right; }
.second-circle { width: 10px; height: 10px; position: absolute; top: 11.5%; right: -186px; float: right; }
.third-circle {  width: 10px; height: 10px; position: absolute; top: 50.4%; left: -275px; float: right; }

}
@media (min-width:1590px ) and (max-width:1650px) {
	.roundtext { top: 80%; }
	.roundtext h3{ font-size: 20px; }
	.roundtext p { font-size:18px; }
	
	.circlefirst {	height:800px;	width: 800px; position:relative; }
.circlesec {    height: 650px;  width: 650px;   top: 14%;    left: 29.6%; }
.circlethird { height: 480px; width: 480px; top: 23.6%; left: 34.6%; }

.firsbtnround {  position: absolute; color: white;  top: 50.2%; right: -31%; }
.firstborder { width: 227px;  position: relative;   top: 51.5%; right: -238px; float: right;}

.firsbtnround-2 {  position: absolute; top: 10.4%; right: -37.5%; }
.firstborder-2 { width: 294px; top: 12.5%; right: -185px; float: right; }

.firsbtnround-3 { top: 48.8%; left: -81.5%; }
.firstborder-3 { width: 335px; position: absolute; top: 51.5%; left: -335px; float: right; }

.first-circle { width: 10px; height: 10px; position: relative; top: 50.8%; right: -237px; float: right; }
.second-circle { width: 10px; height: 10px; position: absolute; top: 11.8%; right: -186px; float: right; }
.third-circle {  width: 10px; height: 10px; position: absolute; top: 50.4%; left: -338px; float: right; }

}


@media (min-width:1651px ) and (max-width:1700px) {
	.roundtext { top: 82%; }
	.roundtext h3{ font-size: 22px; }
	.roundtext p { font-size:20px; }
	
	.circlefirst {	height: 954px;	width: 954px; position:relative; }
.circlesec {    height: 750px;  width: 750px;   top: 14%;    left: 27.6%; }
.circlethird { height: 580px; width: 580px; top: 21.6%; left: 32.5%; }

.firsbtnround {  position: absolute; color: white;  top: 50.2%; right: -31%; }
.firstborder { width: 227px;  position: relative;   top: 51.5%; right: -238px; float: right;}

.firsbtnround-2 {  position: absolute; top: 10.4%; right: -32.5%; }
.firstborder-2 { width: 310px; top: 12.5%; right: -185px; float: right; }

.firsbtnround-3 { top: 48.8%; left: -81.5%; }
.firstborder-3 { width: 335px; position: absolute; top: 51.5%; left: -417px; float: right; }

.first-circle { width: 10px; height: 10px; position: relative; top: 50.8%; right: -237px; float: right; }
.second-circle { width: 10px; height: 10px; position: absolute; top: 11.8%; right: -186px; float: right; }
.third-circle {  width: 10px; height: 10px; position: absolute; top: 50.4%; left: -416px; float: right; }
}


@media (min-width:1701px ) and (max-width:1950px) {
	.roundtext { top: 82%; }
	.roundtext h3{ font-size: 22px; }
	.roundtext p { font-size:20px; }
	
	.circlefirst {	height: 954px;	width: 954px; position:relative; }
.circlesec {    height: 750px;  width: 750px;   top: 14%;    left: 30.6%; }
.circlethird { height: 580px; width: 580px; top: 21.6%; left: 35%; }

.firsbtnround {  position: absolute; color: white;  top: 50.2%; right: -31%; }
.firstborder { width: 246px;  position: relative;   top: 51.2%; right: -276px; float: right;}

.firsbtnround-2 {  position: absolute; top: 10.4%; right: -32.5%; }
.firstborder-2 { width: 310px; top: 12.5%; right: -185px; float: right; }

.firsbtnround-3 { top: 48.8%; left: -81.5%; }
.firstborder-3 { width: 417px; position: absolute; top: 51.5%; left: -417px; float: right; }

.first-circle { width: 10px; height: 10px; position: relative; top: 50.8%; right: -237px; float: right; }
.second-circle { width: 10px; height: 10px; position: absolute; top: 11.8%; right: -186px; float: right; }
.third-circle {  width: 10px; height: 10px; position: absolute; top: 50.4%; left: -416px; float: right; }

}



/*--second page--*/
@media only screen and (max-width:767px){ 

.text-2 .col-md-3.col-sm-12.col-xs-12.pull-right.textbg {
    position: relative;
    right: 0;
    top: 0;
	max-height: 400px;
    overflow-y: scroll;
	margin-bottom:10px;
}
.btnstyle { position:relative; }
.healing .btnstyle { display:none; }
.healing .carousel-indicators { display:none; }
.height-ful {
    min-height: 44vh;
}

}
@media only screen and (max-height:380px){
.btnstyle { position:relative; bottom: 41px;}
.healing .btnstyle { position:relative; bottom: 20px;}
.healing .col-md-3.col-sm-12.col-xs-12.pull-right.textbg { max-height:188px!important; overflow-y:scroll; top:18%;}
.circlethird { top:%!important; }
.fullspace {  padding-top: 22px!important;}

.roundtext h3 { font-size: 17px;}
.btn-hidee { height:30px; }
.index_1 .bottom-button { position:absolute; bottom:30px; } 
}	
@media only screen and (min-height:900px){
#background-slider .fad img { height: 100vh; }
}

@media only screen and (max-width:767px){ 
	.respon-1 {display:none; }
	#myVideo {
    position: fixed;
    right: -390px;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}
	
}
@media only screen and (min-width:768px){ 
	.respon-2 {display:none; }
	.healing .carousel-item .text { display:none; }
}


/*--page contact -us--*/

@media only screen and (max-width: 767px) {

  .contact-us-menu a.nav-link.ml-2 i {  color: #fff !important; }
  .contact-us-menu { background-color:#160925; height:100vh; border-bottom:2px solid #fff; }
  .mb-height { height:100%; }
  .padd-top-30 { padding-top:30px;  padding-bottom:40px;}
 /*-- .healing { background:url(../img/309592040.png)no-repeat center; background-size:cover; }--*/
  .healing .textbg h4 { text-align:center; font-weight:bold; }
  .healing aside.rightfix { text-align:center; padding-top:px; }
  .healing .col-md-3.col-sm-12.col-xs-12.pull-right.textbg { max-height:320px; overflow-y:scroll; top:21%;}
  .fullspace { padding-top: 90px; }
  .text-2 aside.rightfix { padding-top:50px; }
 .text-2 .textbg { padding-top:10px; }
 
}

/*----18-08-2018-about-page--*/


@media only screen and (max-width: 767px) {
  .about-page a.nav-link.ml-2 i, 
  .about-page a.nav-link.ml-2 span { color:#160925; }
}
@media only screen and (max-width: 400px) {
	.about-page .nav-pills>li>a { font-size:11px; }
}
@media only screen and (max-width: 320px) {
	.about-page .nav-pills>li>a { font-size:9px; }
}